<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <a class="navbar-brand" href="/">HWAUTO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<div class="collapse navbar-collapse" id="navbarColor02">
   {{#if user}}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/add">Ödev ekle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Ayarlar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/past-due">Tarihi geçenler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blackboard">Tahta</a>
      </li>
    </ul>
      <span class="navbar-text">
        {{user.name}} / {{user.class_name}}
      </span>
      <a href="/api/user/logout" class="btn bg-secondary ml-2">Çıkış yap</a>
    </div>
  {{/if}}
</nav>
